mixin link(href, name, className)
  li(class=className + '__item')
    a(href=href title=name class=className + '__link')= name

mixin socials(href, name, icon, className, width, height)
  li(class=className + '__item')
    a(href=href title=name target="blank" class=className + '__link')= name
      svg(width=width height=height class=className + '__icon')
        use(xlink:href=icon)

mixin svg(icon, className, width, height)
  svg(width=width height=height class=className + '__icon')
        use(xlink:href=icon)

mixin circle(className)
  svg(class="skill__circle circle" viewBox='0 0 110 110' width="120" height="120")
    circle(class="circle__first" r="45" cx="50%" cy="50%" fill="none")
    circle(class= className + "circle__second" r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)")